@page "/recipes/{Id:long}/edit"
@inject ICuisineService CuisineService
@inject IRecipeService RecipeService
@attribute [Authorize]

@if (_recipe == null)
{
    <PageTitle>Edit Recipe</PageTitle>

    <h1>Edit Recipe</h1>

    <p>Loading...</p>
}
else
{
    <PageTitle>Edit @_recipe.Name</PageTitle>

    <h1 class="mb-3">Edit @_recipe.Name</h1>

    <AuthorizeView Policy="@Policies.Update" Resource="_recipe">
        <Authorized>
            <EditForm Model="Model" OnSubmit="Submit" FormName="EditRecipeForm" Context="formContext" Enhance>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <InputText @bind-Value="Model!.Name" id="name" class="form-control" />
                </div>
                @if (_cuisines != null)
                {
                    <div class="mb-3">
                        <label for="cuisine">Cuisine</label>
                        <InputSelect @bind-Value="Model.CuisineId" id="cuisine" class="form-select">
                            <option value="">Select cuisine</option>
                            @foreach (var cuisine in _cuisines)
                            {
                                <option value="@cuisine.Id">@cuisine.Name</option>
                            }
                        </InputSelect>
                    </div>
                }
                <div class="mb-3">
                    <label for="description">Description</label>
                    <InputText @bind-Value="Model.Description" id="description" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="instructions">Instructions</label>
                    <InputTextArea @bind-Value="Model.Instructions" id="instructions" class="form-control" rows="5" />
                    <div class="form-text">Markdown is supported.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p class="text-danger">You do not have permission to edit @_recipe.Name.</p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public long Id { get; set; }

    [SupplyParameterFromForm]
    public CreateUpdateRecipeDto? Model { get; set; }

    private IEnumerable<CuisineDto>? _cuisines;
    private RecipeWithCuisineDto? _recipe;

    protected override async Task OnInitializedAsync()
    {
        _cuisines ??= await CuisineService.GetListAsync();

        _recipe ??= await RecipeService.GetAsync(Id);

        if (_recipe == null)
        {
            return;
        }

        Model ??= new CreateUpdateRecipeDto
            {
                Name = _recipe.Name,
                CuisineId = _recipe.Cuisine?.Id ?? default,
                Description = _recipe.Description,
                Ingredients = _recipe.Ingredients,
                Instructions = _recipe.Instructions?.Markdown,
            };
    }

    private void Submit()
    {
        
    }
}
