@page "/recipes/{Id:long}/edit"
@inject ICuisineService CuisineService
@inject IRecipeService RecipeService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]
@rendermode InteractiveServer

@if (_recipe == null)
{
    <PageTitle>Edit Recipe</PageTitle>

    <h1>Edit Recipe</h1>

    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <PageTitle>Edit @_recipe.Name</PageTitle>

    <h1 class="mb-3">Edit @_recipe.Name</h1>

    <AuthorizeView Policy="@Policies.Update" Resource="_recipe">
        <Authorized>
            <EditForm Model="Model" OnSubmit="SubmitAsync" Context="FormContext">
                <div class="mb-3">
                    <label for="name">Name</label>
                    <InputText @bind-Value="Model!.Name" id="name" class="form-control" />
                </div>
                @if (_cuisines != null)
                {
                    <div class="mb-3">
                        <label for="cuisine">Cuisine</label>
                        <InputSelect @bind-Value="Model!.CuisineId" id="cuisine" class="form-select">
                            <option value="">Select cuisine</option>
                            @foreach (var cuisine in _cuisines)
                            {
                                <option value="@cuisine.Id">@cuisine.Name</option>
                            }
                        </InputSelect>
                    </div>
                }
                <div class="mb-3">
                    <label for="description">Description</label>
                    <InputText @bind-Value="Model!.Description" id="description" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Ingredients</label>
                    @for (var i = 0; i < Model!.Ingredients?.Length; i++)
                    {
                        var index = i;

                        <div class="d-flex mb-2">
                            <InputText @bind-Value="Model!.Ingredients[index]" class="form-control" />
                            <button class="btn btn-link link-secondary pe-0" type="button" @onclick="() => RemoveIngredient(index)">
                                <i class="bi bi-x-circle-fill" aria-label="Remove"></i>
                            </button>
                        </div>
                    }
                    <button class="btn btn-secondary" type="button" @onclick="AddIngredient">
                        <i class="bi bi-plus-circle"></i>
                        Add Ingredient
                    </button>
                </div>
                <div class="mb-3">
                    <label for="instructions">Instructions</label>
                    <InputTextArea @bind-Value="Model!.Instructions" id="instructions" class="form-control" rows="5" />
                    <div class="form-text">Markdown is supported.</div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p class="text-danger">You do not have permission to edit @_recipe.Name.</p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public long Id { get; set; }

    public CreateUpdateRecipeDto? Model { get; set; }

    private IEnumerable<CuisineDto>? _cuisines;
    private RecipeWithCuisineDto? _recipe;

    protected override async Task OnInitializedAsync()
    {
        _cuisines ??= await CuisineService.GetListAsync();

        _recipe ??= await RecipeService.GetAsync(Id);

        if (_recipe == null)
        {
            return;
        }

        Model ??= new CreateUpdateRecipeDto
        {
            Name = _recipe.Name,
            CuisineId = _recipe.Cuisine?.Id ?? default,
            Description = _recipe.Description,
            Ingredients = _recipe.Ingredients,
            Instructions = _recipe.Instructions?.Markdown,
        };
    }

    private void AddIngredient()
    {
        if (Model == null)
        {
            return;
        }

        Model.Ingredients ??= [];
        Model.Ingredients = Model.Ingredients.Append(string.Empty).ToArray();
    }

    private void RemoveIngredient(int index)
    {
        if (Model == null)
        {
            return;
        }

        Model.Ingredients = Model.Ingredients?.Where((_, i) => i != index).ToArray();
    }

    private async Task SubmitAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        await RecipeService.UpdateAsync(Id, Model!, authenticationState.User);

        NavigationManager.NavigateTo($"recipes/{Id}");
    }
}
