﻿@if (Recipe != null)
{
    <div class="card h-100">
        <div class="card-img-top bg-secondary" style="height: 300px">
            @if (Recipe.CoverImage != null)
            {
                <img
                    src="@Recipe.CoverImage.Url"
                    class="card-img-top object-fit-cover"
                    alt="@Recipe.CoverImage.AltText"
                    height="300" />
            }
        </div>
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">@Recipe.Name</h5>
            <p class="card-text"><span class="badge text-bg-secondary">@Recipe.Cuisine!.Name</span></p>
            <p class="card-text line-clamp-3">
                @Recipe.Description
            </p>
            <div class="mt-auto">
                <a
                    href=@($"recipes/{Recipe.Id}")
                    class="btn btn-primary stretched-link">
                    View more
                </a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    public RecipeWithCuisineDto? Recipe { get; set; }
}
